<div class="container">
  <div class="columns is-centered">
    <div class="column is-8">
      <div class="box">
        <h2 class="title is-4">Edit Reply</h2>

        <%= form_for([@discussion, @reply]) do |f| %>
          <div class="field">
            <div class="control">
              <%= f.label :reply, class: "label" %>
              <%= f.text_area :reply, class: "textarea", rows: 5 %>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <%= f.submit "Update Reply", class: "button is-primary" %>
            </div>
            <div class="control">
              <%= link_to "Cancel", discussion_path(@discussion), class: "button is-light" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>