<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container">
    <%= link_to "Discussion Forum", root_path, class: "navbar-brand fw-bold" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "All Discussions", discussions_path, class: "nav-link #{'active' if current_page?(discussions_path)}" %>
        </li>
        <!-- Channels dropdown removed from here -->
      </ul>
      
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown">
              <%= user_avatar(current_user, size: 'xs') %>
              <span class="ms-2"><%= current_user.display_name %></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %></li>
              <% if current_user.admin? %>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Admin Panel", admin_root_path, class: "dropdown-item" %></li>
              <% end %>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
