<div class="sidebar p-3 bg-light border rounded">
  <h4>Channels</h4>
  <ul class="list-unstyled">
    <% @channels.each do |channel| %>
      <li>
        <%= link_to channel.name, channel_path(channel), class: "text-decoration-none" %>
      </li>
    <% end %>
  </ul>

  <hr>

  <h5>Stats</h5>
  <ul class="list-unstyled">
    <li><strong>Total Discussions:</strong> <%= @total_discussions %></li>
    <li><strong>Total Replies:</strong> <%= @total_replies %></li>
    <li><strong>Total Users:</strong> <%= @total_users %></li>
  </ul>

  <hr>

  <h5>Recent Discussions</h5>
  <ul class="list-unstyled">
    <% @recent_discussions.each do |discussion| %>
      <li>
        <%= link_to truncate(discussion.title, length: 30), discussion_path(discussion), class: "text-decoration-none" %><br>
        <small>by <%= discussion.user.name %></small>
      </li>
    <% end %>
  </ul>
</div>
